/* App.css */
body, h1, h2, h3, p, form, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.App {
  /*The store app*/
  text-align: center;
  padding: 20px;
  background-color: white;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


nav {
  /*nav*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #08c6fe;
  padding: 10px 20px;
  border-radius: 25px;
}
nav .nav-left, nav .nav-right {
  display: flex;
  align-items: center;
}
nav .nav-left a, nav .nav-right a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
nav .search-bar {
  height: 30px;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
}
nav .search-bar:focus {
  outline: none;
}
nav .nav-logo {
  height: 50px; /* Adjust as needed for the logo position*/
  margin-right: 10px;
}
.cart-logo {
  width: 30px; /* or any size that fits well */
  height: auto; /* maintain the aspect ratio */
  margin-left: 10px; /* space from the preceding text or element */
}
nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
}

input[type="submit"],
button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}
html {
  /*Note to self, screw html alignment*/
  display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    flex-direction: column; /* Stack items vertically */
    text-align: center;
    height: 100vh; /* Take full viewport height */
    background: grey;
}

